

.title{
    background-color: aquamarine; 
}

.thumbnail{
    background-color: pink;
    float:left;
    width:100px;
    height:100px;
    margin:2px;
}

.description{
    background-color: chocolate;
    float:right;
    width:80%;
    height:100px;
    position:relative;
}